@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --cian:#2292a7
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(243, 243, 243);
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button:hover{
    cursor: pointer;
}
.container{
    padding-left: 3rem;
}


header{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    padding: 20px 2%;
    align-items: center;
    top: 0;
    z-index: 1000;
}
nav ul{
    display: flex;
}
nav a{
    margin-left: 1rem;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s;
}
nav a:hover{
    font-weight: 900;
    text-decoration: underline #2292a7 0.1rem;
}
.logo{
    font-size: 2.2rem;
    font-weight: 700;
    color:#2292a7
}
.login a{
    margin-left: 1rem;
    padding: 0.5rem 2rem;
    transition: all 0.5s;
    border-radius: 1rem;
}
.login a:hover{
    background-color: #2292a7;
    color: white;
}


.tours{
    min-height: 100vh;
    width: 90%;
    background-color:aqua ;
    background-image: url(images/homebg.png);
    margin: 0 auto;
    margin-top: 10rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.tours h1{
    padding-top: 10%;
    font-size: 3.4rem;
    color: white;
    line-height: 4.5rem;
}
.tours p{
    color: white;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-top: 3rem;
}

.buttonhome button{
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.501);
    border-radius: 1rem 1rem 0 0;
    border: none;
    transition: background-color 0.2s;
}
.buttonhome button:hover{
    background-color: rgb(255, 213, 0);
    cursor: pointer;
}
.roundtrip, .multicity{
    margin-left: -0.25rem;
}

form{
    background-color: white;
    width: 90%;
    padding:3rem;
    border-radius: 0 1rem 1rem 1rem;
}
.labels{
    display: block;
}
form select, form input{
    padding: 1rem 4rem;
    border-radius: 0.8rem;
    border: none;
    border: solid 0.1rem rgba(128, 128, 128, 0.721);
    margin-left: 1rem;
}
form button{
    margin-left: 15%;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #2292a7;
    color: white;
}
form button:hover{
    cursor: pointer;
    background-color: #2f9caf;
}
.forms{
    margin-top: 7rem;
}

.from{
    margin-left: 1.1rem;
}
.to{
    margin-left: 11rem;
}
.date{
    margin-left: 11.9rem;
}


.destinationtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.destinationtop h1{
    margin-top: 7rem;
}
.destinationtop p{
    margin-top: 1rem;
}
.destopbt{
    margin-right: 5rem;
    margin-top: 7rem;
}
.destopbt button{
    padding: 1rem 1rem;
    border: none;
    background-color: white;
    border-radius: 0.8rem;
    transition: all 0.2s;
}
.destopbt button:hover{
    background-color: #2292a7;
    color: white;
    cursor: pointer;
}
.destcards{
    margin-top: 4rem;
    display: flex;
}
.destination img{
    width: 85%;
    border-radius: 0.5rem;
}
.destcards i{
    color: blue;
}
.destcards button{
    background-color: #2292a7;
    border-radius: 0.8rem;
    border: none;
    padding: 0 1rem;
    color: white;
}


.deals h3{
    color:rgb(255, 213, 0) ;
    padding-top: 5rem;
    font-size: 0.8rem;
}
.deals h1{
    margin-top: 2rem;

}
.deals{
    min-height: 150vh;
}
.uno, .dos, .tres{
    display: flex;
    text-align: center;
    padding: 0.7rem 1rem;
    width: 3.5%;
    color: white;
    border-radius: 1rem;
    margin-top: 1rem;
}
.uno{
    background-color: blueviolet;
}
.dos{
    background-color: #2292a7;
}
.tres{
    background-color: rgb(255, 213, 0);
}
.deals h2{
    margin-top: 1rem;
}

.dealsbot img{
position: absolute;
width: 32%;
top: 250%;
left: 55%;
border-radius: 1rem;
border: solid 0.4rem white;
}
.dealsbot button{
    margin-top: 5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.7rem;
    background-color: #2292a7;
    color: white;
}

.cameradivs img{
    width: 10%;
    margin-top: 30rem;
}


.aboutus img{
    width: 20%;
    border-radius: 1rem;
    border: solid 0.5rem white;
}
.aboutop{
    display: flex;

}
.aboutimgs{
    position: absolute;
}
.aboutimgf{
    position: absolute;
    left: 20%;
    top: 350%;
}
.aboutext{
    margin-left: 50rem;
    width: 100%;
}
.aboutext button{
    padding: 1rem 2rem;
    border: none;
    background-color: #2292a7;
    color: white;
    border-radius: 0.8rem;
    margin-top: 2rem;
}
.aboutextbot{
    display: flex;
}

.seewhy{
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
}
.seewhy div{
    margin-right: 5rem;
}
.seewhy button{
    padding: 0.7rem;
    border-radius: 0.4rem;
    border: none;
    background-color: white;
    transition: all 0.3s;
    margin-left: 1rem;
}
.seewhy button:hover{
    color: white;
    background-color: #2292a7;
    cursor: pointer;
}
.seewhydiv img{
    border: none;
}
.seewhybot{
    display: flex;
    justify-content: space-around;
}



.contactus{
    background-color: white;
    height: 100vh;
}
.contactus img{
    position: absolute;
    left: 45%;
    width: 50%;
}
.input-button-container button {
    position: absolute;
    top: 10%;
    right: 2%;
    height: 80%;
    background-color: #2292a7;
    padding: 0 2rem;
    border: none;
    border-radius: 0.8rem;
    color: white;
}
.input-button-container {
    display: inline-block;
    position: relative;
}

.prepare{
    background-color: #2292a7;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.6rem;
    height: 35vh;
}
.preparebtn{
    margin-top: 2rem;
    padding: 1rem 4rem;
    border-radius: 0.7rem;
    border: none;
    background-color:rgb(255, 213, 0) ;
    color: white;
    font-weight: 600;
}


footer{
    display: flex;
    height: 25vh;
    justify-content: space-around;
    margin-top: 5%;
}
